/* Write your code here: */
/* Group */
h1, h2 {
  color: red;
}
/* Child */
.box > p {
  color: seagreen;
}
/* Descendent */
.box li {
  color: blue;
}

/* Chained */
li.done {
  color: orange;
}

/* Multiple Combiners */

ul p.done{
  font-size: 1rem;
}